---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/company/google.com/investors?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"google.com","name":"Google","cursor":1,"investors":[{"name":"Sequoia
        Capital","slug":"sequoia-capital","domain":"sequoiacap.com"},{"name":"Kleiner
        Perkins Caufield & Byers","slug":"kleiner-perkins-caufield-and-byers","domain":"kpcb.com"},{"name":"Angels","slug":"angels","domain":null}]}'
  recorded_at: Sun, 27 Mar 2016 09:15:32 GMT
recorded_with: VCR 3.0.1
