---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/tagged//company?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"error":"Not Found"}'
  recorded_at: Sat, 16 Jul 2016 11:41:12 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/tagged/company?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":400,"error":"Bad Request","message":"child \"tags\" fails
        because [\"tags\" is required]","validation":{"source":"query","keys":["tags"]}}'
  recorded_at: Sat, 16 Jul 2016 11:43:33 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/tagged/company?apikey=ed30ea0896b8449ec44e974a40d1b0e3&isJoin=true&tags=google
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"cursor":1,"total_count":261,"companies":[{"fundingTotal":53299998,"ec":71,"fundingLevel":2,"mc":19,"dateFounded":1167638400,"urlTwitter":"cloudsherpas","urlCrunchbase":"organization/cloud-sherpas","urlWebsite":"cloudsherpas.com","urlAngellist":"cloud-sherpas","slug":"cloud-sherpas","name":"Cloud
        Sherpas","phone":"(888) 260-7660"},{"fundingTotal":42470343,"ec":42,"fundingLevel":2,"mc":1,"dateFounded":1230796800,"urlTwitter":"netsertive","urlCrunchbase":"organization/netsertive","urlWebsite":"netsertive.com","urlAngellist":"netsertive","slug":"netsertive","name":"Netsertive","phone":"(800)
        940-4351"},{"fundingTotal":22500000,"ec":92,"fundingLevel":5,"mc":89,"dateFounded":1136102400,"urlTwitter":"powerset","urlCrunchbase":"organization/powerset","urlWebsite":"powerset.com","urlAngellist":"powerset"[...]
