---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/company/google.com/snapshot?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"fundingLevel":4,"dateFounded":883641600,"urlTwitter":"google","urlAngellist":"google","slug":"google","name":"Google","urlCrunchbase":"organization/google","phone":"(650)
        253-0000"}'
  recorded_at: Sun, 27 Mar 2016 09:23:53 GMT
recorded_with: VCR 3.0.1
