---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/company/google.com/peers?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"peers":[{"name":"Bing","rank":1,"sim":64.6624743938446,"url":null},{"name":"DuckDuckGo","rank":2,"sim":62.723469734191895,"url":"duckduckgo.com"},{"name":"DoubleClick","rank":3,"sim":57.67050385475159,"url":"doubleclick.com"}],"domain":"google.com"}'
  recorded_at: Sat, 16 Jul 2016 11:08:28 GMT
recorded_with: VCR 3.0.1
