---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/discover?apikey=ed30ea0896b8449ec44e974a40d1b0e3&s=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":400,"error":"Bad Request","message":"child \"s\" fails
        because [single value of \"s\" fails because [\"0\" is not allowed to be empty]]","validation":{"source":"query","keys":["s.0"]}}'
  recorded_at: Wed, 25 May 2016 19:25:40 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/discover?apikey=ed30ea0896b8449ec44e974a40d1b0e3&s=google
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"vertices":[{"_id":"Organization/1045705641407","fundingTotal":null,"ec":16,"mc":0,"origin":"US","urlWebsite":"strategyinternetmarketing.co.uk","slug":"pay-per-results-seo-from-strategy-internet-marketing","name":"PAY-PER-RESULTS
        SEO from Strategy Internet Marketing","type":"company"},{"_id":"Organization/1075841256895","fundingTotal":null,"ec":16,"mc":0,"urlWebsite":"apphelp.com","slug":"apphelp","name":"AppHelp","type":"company"},{"_id":"Organization/1078088355263","fundingTotal":null,"ec":16,"mc":0,"origin":"US","urlWebsite":"campaigncoa.ch","slug":"campaigncoach","name":"CampaignCoach","type":"company"},{"_id":"Organization/1063495847359","fundingTotal":null,"ec":16,"mc":0,"origin":"US","urlWebsite":"jjmarcus.com","slug":"jjmarcus","name":"jjmarcus","type":"com[...]
