---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/news//fundings?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"error":"Not Found"}'
  recorded_at: Sat, 16 Jul 2016 11:15:04 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/news/fundings?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"date_reference":1468667743708,"fundings":[{"date":1452124800,"amount":8199999,"currency":"USD","round":"Series-A","name":"Push
        Doctor","slug":"push-doctor","domain":null,"investors":[{"name":"Oxford Capital
        Partners","slug":"oxford-capital-partners","domain":"oxcp.com"},{"name":"Partech
        Ventures","slug":"partech-ventures","domain":"partechventures.com"},{"name":"Draper
        Esprit","slug":"draper-esprit","domain":null}]},{"date":1452124800,"amount":null,"currency":null,"round":"Venture","name":"OThot","slug":"othot","domain":"othot.com","investors":[{"name":"Opus
        6","slug":"opus-6","domain":null}]},{"date":1452124800,"amount":null,"currency":null,[...]
- request:
    method: get
    uri: https://api.fedger.io/v1/stats/fundings/2016?country=RU&month=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - Key realm="kong"
    body:
      encoding: UTF-8
      string: '{"message":"No API Key found in headers, body or querystring"}

'
  recorded_at: Sat, 16 Jul 2016 11:32:31 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/stats/fundings/2016?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Fundings 2016","year":2016,"currency":"USD","count":533,"total":12864873447,"min":100,"max":650000000,"mean":22513088,"stddev":44019772}'
  recorded_at: Sat, 16 Jul 2016 11:34:37 GMT
recorded_with: VCR 3.0.1
