---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/company/google.com/portfolio?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"domain":"google.com","name":"Google","cursor":1,"portfolio":[{"name":"Zynga","domain":"zynga.com","slug":"zynga"},{"name":"AOL","domain":"aol.com","slug":"aol"},{"name":"Tesla
        Motors","domain":"teslamotors.com","slug":"tesla-motors"},{"name":"Life360","domain":"life360.com","slug":"life360"},{"name":"Thumbtack","domain":"thumbtack.com","slug":"thumbtack"},{"name":"TrialPay","domain":"trialpay.com","slug":"trialpay"},{"name":"Meraki","domain":"meraki.com","slug":"meraki"},{"name":"Symphony","domain":"symphonycomfort.com","slug":"symphony"},{"name":"Machinima","domain":"machinima.com","slug":[...]
