---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/tagged//funding?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"error":"Not Found"}'
  recorded_at: Sat, 16 Jul 2016 11:41:13 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/tagged/funding?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":400,"error":"Bad Request","message":"child \"tags\" fails
        because [\"tags\" is required]","validation":{"source":"query","keys":["tags"]}}'
  recorded_at: Sat, 16 Jul 2016 11:43:34 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/tagged/funding?apikey=ed30ea0896b8449ec44e974a40d1b0e3&isJoin=true&range_from=1&range_to=20&tags=google
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"cursor":1,"fundings":[]}'
  recorded_at: Sat, 16 Jul 2016 11:45:09 GMT
recorded_with: VCR 3.0.1
