---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/company/google.com/funding/details?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"name":"Google","domain":"google.com","amount_total":25100000,"rounds":[{"date":928713600,"amount":25000000,"currency":null,"round":"Series-A","investors":[{"type":"Organization","name":"Sequoia
        Capital","slug":"sequoia-capital","domain":"sequoiacap.com"},{"type":"Organization","name":"Kleiner
        Perkins","slug":"kleiner-perkins-caufield-and-byers","domain":"kpcb.com"}]},{"date":901929600,"amount":100000,"currency":"USD","round":"Seed","investors":[{"type":"Organization","name":"Angels","slug":"angels","domain":null}]}]}'
  recorded_at: Sat, 16 Jul 2016 11:08:24 GMT
recorded_with: VCR 3.0.1
