---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/geo/google/companies?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"statusCode":404,"error":"Not Found"}'
  recorded_at: Sat, 16 Jul 2016 11:08:34 GMT
- request:
    method: get
    uri: https://api.fedger.io/v1/discover/companies?apikey=ed30ea0896b8449ec44e974a40d1b0e3&s=google
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"cursor":0,"data":[{"_id":"Organization/1069365841343","_rev":"86478732117084","_key":"1069365841343","investorCount":null,"wentIPO":true,"wasAcquired":false,"fundingTotal":25100000,"inCount":5840,"outCount":514,"ec":6354,"fundingLevel":4,"invRatio":0.89,"mc":60378,"dateFounded":883641600,"urlTwitter":"google","urlSlug":"google","urlAngellist":"google","slug":"google","name":"Google","origin":"US","fundingCurrencyCode":"USD","urlCrunchbase":"organization/google","urlWebsite":"google.com","descShort":"Google
        is a multinational corporation that is specialized in internet-related services
        and products.","descFull":"Google is a multinational corporation that is specialized
        in internet-related services and products. The companys product portfolio
        includes Google Search, which provides users with access to information online;
        Knowledge Graph that allows to search for things, people, or places as well
        as builds systems recognizing speech and understanding natural language; Google
        Now, which provides information to users when they need it; Product Listing
        Ads tha[...]
