---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/stats/fundings/2016?apikey=ed30ea0896b8449ec44e974a40d1b0e3&country=RU&month=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"type":"Fundings January 2016 RU","year":2016,"month":1,"country":"RU","currency":"USD","count":0,"total":0,"min":null,"max":null,"mean":0,"stddev":0}'
  recorded_at: Sat, 16 Jul 2016 11:46:27 GMT
recorded_with: VCR 3.0.1
