---
http_interactions:
- request:
    method: get
    uri: https://api.fedger.io/v1/geo/RU/company?apikey=ed30ea0896b8449ec44e974a40d1b0e3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"cursor":1,"companies":[{"fundingLevel":4,"dateFounded":725875200,"urlTwitter":"epamsystems","urlCrunchbase":"organization/epam-systems","urlWebsite":"epam.com","urlAngellist":"epam-systems","slug":"epam-systems","name":"EPAM
        Systems","phone":"(267) 759-9000"},{"fundingLevel":4,"dateFounded":978336000,"urlAngellist":"velti","slug":"velti","name":"Velti","urlTwitter":"veltimobile","urlCrunchbase":"organization/velti","urlWebsite":"velti.com","phone":"+353
        1 2342676"},{"fundingLevel":3,"dateFounded":1262332800,"urlTwitter":"revelsystems","urlCrunchbase":"organization/revel-systems","urlWebsite":"revelup.com","urlAngellist":"revel-systems","slug":"revel-systems","name":"Revel
        Systems","phone":"(844) 584-3316"},{"fundingL[...]
